@media only screen and (max-width: 1400px) {
  .samsung-section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;

    &_list {
      display: flex;
      gap: 2rem;
      color: #fff;
      & a {
        border: 1px #fff solid;
        padding: 0.5rem;
        font-size: 1.25rem;

        &:hover {
          background-color: #fff;
          color: black;
          transition: 0.2s ease-in;
          cursor: pointer;
        }
      }
    }
  }

  .apple-section_main {
    padding: 3rem;

    &_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-self: center;
      max-width: 52rem;
      overflow: hidden;
      transition: 0.4s ease-in;
      margin-left: 15rem;

      &_box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99999;
      }

      &_img {
        transition: all 0.4s ease-in;
      }

      &_header {
        position: absolute;
        font-size: 2.5rem;
        color: #fff;
        letter-spacing: 2px;
        left: 145%;
        top: -1%;
        padding: 0.75rem;
        background-color: rgba(0, 0, 0, 0.7);
        width: 15rem;
      }

      &_p {
        position: absolute;
        font-size: 1.25rem;
        color: #fff;
        padding-top: 1.25rem;
        background-color: rgba(0, 0, 0, 0.7);
        width: 52rem;
        height: 15rem;
        top: 60%;
        left: 125%;
        padding: 2rem;
        text-transform: capitalize;
      }
    }
  }

  .samsung-section_main {
    padding: 3rem;

    &_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-self: center;
      max-width: 52rem;
      overflow: hidden;
      transition: 0.4s ease-in;
      margin-left: 15rem;

      &_box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99999;
      }

      &_img {
        transition: all 0.4s ease-in;
      }

      &_header {
        position: absolute;
        font-size: 2rem;
        color: #fff;
        letter-spacing: 2px;
        left: 145%;
        top: -1%;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.7);
        width: 15rem;
      }

      &_p {
        position: absolute;
        font-size: 1.25rem;
        color: #fff;
        padding-top: 1.15rem !important;
        background-color: rgba(0, 0, 0, 0.7);
        width: 53rem;
        height: 15rem;
        top: 60%;
        left: 125%;
        padding: 2rem;
        text-transform: capitalize;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .active-samsung {
    transform: translateX(0);
    transition: 3s ease-in-out;
    min-width: 95vw;
  }

  .active {
    transition: none;
  }

  .samsung-section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;

    &_list {
      display: flex;
      gap: 1rem;
      color: #fff;
      & a {
        border: 1px #fff solid;
        padding: 0.5rem;
        font-size: 1.25rem;

        &:hover {
          background-color: #fff;
          color: black;
          transition: 0.2s ease-in;
          cursor: pointer;
        }
      }
    }
  }

  .samsung-section_footer {
    background-color: #000;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_copyright {
      position: absolute;
      color: #fff;
      top: 90%;
      font-weight: 100;
      letter-spacing: 1px;
    }

    &_media {
      position: absolute;
      bottom: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &_facebook {
        fill: #fff;
      }

      &_youtube {
        fill: #fff;
      }
      &_instagram {
        fill: #fff;
      }
      &_linkedin {
        fill: #fff;
      }

      &_x {
        fill: #fff;
      }
    }

    &_list {
      display: flex;
      color: #fff;
      list-style: none;
      gap: 5rem;
      font-size: 1.25rem;
      cursor: pointer;
      border-top: 1px solid gray;
      padding: 1rem;

      & li {
        padding: 0.5rem;
        border: 1px solid #fff;
      }

      & li:hover {
        color: #000;
        background-color: #fff;
        transition: all 0.2s ease-in;
      }
    }
  }

  .samsung-section_questionnaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    &_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.45rem;
      border: 2px solid #000;
      width: 35rem;
      cursor: pointer;
      position: relative;

      &_header {
        font-size: 1.5rem;
      }

      &_p {
        display: none;
        padding: 1rem;
      }

      &_arrow {
        position: absolute;
        left: 95%;
        font-size: 2rem;
        padding-bottom: 2rem;
        cursor: pointer;

        &:hover {
          transform: scale(1.5);
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .button {
    position: absolute;
    top: 40%;
    border: 5px white solid;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  .apple {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 50vw;
    margin-top: 5rem;
  }

  .samsung {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 60vw;
    margin-top: 5rem;
  }

  .apple-section_footer {
    background-color: #000;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_copyright {
      position: absolute;
      color: #fff;
      top: 90%;
      font-weight: 100;
      letter-spacing: 1px;
    }

    &_media {
      position: absolute;
      bottom: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &_facebook {
        fill: #fff;
      }

      &_youtube {
        fill: #fff;
      }
      &_instagram {
        fill: #fff;
      }
      &_linkedin {
        fill: #fff;
      }

      &_x {
        fill: #fff;
      }
    }

    &_list {
      display: flex;
      color: #fff;
      list-style: none;
      gap: 5rem;
      font-size: 1.25rem;
      cursor: pointer;
      border-top: 1px solid gray;
      padding: 1rem;

      & li {
        padding: 0.5rem;
        border: 1px solid #fff;
      }

      & li:hover {
        color: #000;
        background-color: #fff;
        transition: all 0.2s ease-in;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .button {
    position: absolute;
    top: 40%;
    border: 5px white solid;
    padding: 0.75rem 2rem 0.75rem 2rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  .apple {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 50vw;
    margin-top: 5rem;
  }

  .samsung {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 60vw;
    margin-top: 5rem;
  }

  .samsung-section_shop {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: 25rem 25rem;
    margin-top: 8rem;
    padding: 0 0 0 8rem;
    gap: 2rem;

    &_grid {
      box-shadow: 1px 1px 50px 1px rgb(0, 0, 0, 0.1);

      &:hover {
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
      }
    }

    &_img {
      width: 100%;
    }

    &_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      box-shadow: none;

      &_price {
        font-size: 1.5rem;
      }

      &_header {
        text-transform: capitalize;
        font-weight: bolder;
        padding: 0.25rem;
      }

      &_button {
        margin-top: 0.75rem;
        padding: 1rem 2rem 1rem 2rem;
        background-color: black;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;

        &:hover {
          background-color: gray;
          color: black;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .samsung-section_questionnaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    &_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.45rem;
      border: 2px solid #000;
      width: 32rem;
      cursor: pointer;
      position: relative;

      &_header {
        font-size: 1.5rem;
      }

      &_p {
        display: none;
        padding: 1rem;
      }

      &_arrow {
        position: absolute;
        left: 95%;
        font-size: 2rem;
        padding-bottom: 2rem;
        cursor: pointer;

        &:hover {
          transform: scale(1.5);
          transition: all 0.2s ease-in;
        }
      }
    }
  }

  .samsung-section_footer {
    background-color: #000;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_copyright {
      position: absolute;
      color: #fff;
      top: 90%;
      font-weight: 100;
      letter-spacing: 1px;
    }

    &_media {
      position: absolute;
      bottom: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &_facebook {
        fill: #fff;
      }

      &_youtube {
        fill: #fff;
      }
      &_instagram {
        fill: #fff;
      }
      &_linkedin {
        fill: #fff;
      }

      &_x {
        fill: #fff;
      }
    }

    &_list {
      display: flex;
      color: #fff;
      list-style: none;
      gap: 5rem;
      font-size: 1.25rem;
      cursor: pointer;
      border-top: 1px solid gray;
      padding: 1rem;

      & li {
        padding: 0.5rem;
        border: 1px solid #fff;
      }

      & li:hover {
        color: #000;
        background-color: #fff;
        transition: all 0.2s ease-in;
      }
    }
  }

  .apple-section_questionnaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;

    &_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.45rem;
      border: 2px solid #000;
      width: 35rem;
      cursor: pointer;
      position: relative;

      &_header {
        font-size: 1.5rem;
      }

      &_p {
        display: none;
        padding: 1rem;
      }

      &_arrow {
        position: absolute;
        left: 95%;
        font-size: 2rem;
        padding-bottom: 2rem;
        cursor: pointer;

        &:hover {
          transform: scale(1.5);
          transition: all 0.2s ease-in;
        }
      }
    }
  }

  .apple-section_footer {
    background-color: #000;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &_copyright {
      position: absolute;
      color: #fff;
      top: 90%;
      font-weight: 100;
      letter-spacing: 1px;
    }

    &_media {
      position: absolute;
      bottom: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &_facebook {
        fill: #fff;
      }

      &_youtube {
        fill: #fff;
      }
      &_instagram {
        fill: #fff;
      }
      &_linkedin {
        fill: #fff;
      }

      &_x {
        fill: #fff;
      }
    }

    &_list {
      display: flex;
      color: #fff;
      list-style: none;
      gap: 5rem;
      font-size: 1.25rem;
      cursor: pointer;
      border-top: 1px solid gray;
      padding: 1rem;

      & li {
        padding: 0.5rem;
        border: 1px solid #fff;
      }

      & li:hover {
        color: #000;
        background-color: #fff;
        transition: all 0.2s ease-in;
      }
    }
  }
}
